.one {
    font-family: 'Courier New', Courier, monospace;
    font-size: 80px;
    margin-top: 25px;
    text-align: center;
    }

.two {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    background-color:rgb(0, 0, 0);
    color: white;
}

.con{
    width: 100%;
    text-align: center;
}